<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>

<body>
    <header class=" bg-black pading-1a">
        <div class="container flex justify-between">
            <a href="/" class="color-white text-shadow">Home</a>
            <div>
                <a href="/users"><button class="btn">All Event</button></a>
                <a href="/users/new"><button class="btn">New Event</button></a>
            </div>

        </div>
    </header>
    <!-- main -->
    <main>
        <section class="bg-dark">
            <div class="container height-90vh flex justify-center align-center justify-between flex-mq flex-colum-mq ">

                <div class="heigth-98 border width-60 overflow-scroll scrollbar-none width-100-mq border-none-mq">
                    <%blog.forEach((elm)=>{%>
                        <div class="bg-black margin-tb1 pading-1a">
                            <h1 class="color-white text-uppercase ">
                                <span class="color-gray">Author : </span>
                                <%=elm.author%>
                            </h1>

                            <h1 class="color-white text-uppercase margin-tb5">
                                <span class="color-gray">Category : </span>
                                <%=elm.category%>
                            </h1>
                            <p class="color-white margin-tb5"><span class="color-gray">Date : </span>
                                <%=elm.startDate.getDate()%> -
                                    <%=elm.startDate.getMonth()+1%> -
                                        <%=elm.startDate.getFullYear()%>

                            </p>
                            <h2 class="color-white text-uppercase"><span class="color-gray">Title : </span>
                                <%=elm.title%>
                            </h2>
                            <p class="color-white margin-tb5"><span class="color-gray">Summary : </span>
                                <%=elm.summary.slice(0,100) + ' . . .' %>
                            </p>
                            <a href="/users/<%=elm.id%>"><button class="btn">Reed More</button></a>

                        </div>

                        <%})%>
                </div>
                <!-- aside -->
                <aside
                    class="heigth-80 width-30 border flex flex-direction-column justify-center text-center bg-dark width-100-mq">
                    <!-- author -->
                    <form action="/users" method="GET">
                        <h2 class="color-white text-shadow">Select Author Name</h2>
                        <select name="author" id="" class="width-70 font-size margin-tb1">
                            <%unicAuthor.forEach((author)=>{%>
                                <option value="<%=author%>">
                                    <%=author%>
                                </option>
                                <%})%>

                        </select>
                        <input type="submit" class="btn" />
                    </form>
                    <!-- category -->
                    <form action="/users" method="GET">
                        <h2 class="color-white text-shadow">Select Category</h2>
                        <select name="category" id="" class="width-70 font-size margin-tb1">
                            <%uniccategory.forEach((category)=>{%>
                                <option value="<%=category%>">
                                    <%=category%>
                                </option>
                                <%})%>
                        </select>
                        <input type="submit" class="btn" />
                    </form>
                    <!-- start date -->
                    <form action="/users" method="GET">
                        <h2 class="color-white text-shadow">Select Start Date</h2>
                        <select name="startDate" id="" class="width-70 font-size margin-tb1">
                            <%unicstartDate.forEach((startDate)=>{%>
                                <option value="<%=startDate%>">
                                    <%=startDate.getDate()%> -
                                        <%=startDate.getMonth()+1%> -
                                            <%=startDate.getFullYear()%>
                                </option>
                                <%})%>
                        </select>
                        <input type="submit" class="btn" />
                    </form>

                    <!-- end date -->
                    <form action="/users" method="GET">
                        <h2 class="color-white text-shadow">Select End Date</h2>
                        <select name="endDate" id="" class="width-70 font-size margin-tb1">
                            <%unicEndDate.forEach((endDate)=>{%>
                                <option value="<%=endDate%>">
                                    <%=endDate.getDate()%> -
                                        <%=endDate.getMonth()+1%> -
                                            <%=endDate.getFullYear()%>
                                </option>
                                <%})%>
                        </select>
                        <input type="submit" class="btn" />
                    </form>

                    <!-- location -->
                    <form action="/users" method="GET">
                        <h2 class="color-white text-shadow">Select Locations</h2>
                        <select name="location" id="" class="width-70 font-size margin-tb1">
                            <%unicLocation.forEach((location)=>{%>
                                <option value="<%=location%>">
                                    <%=location%>
                                </option>
                                <%})%>
                        </select>
                        <input type="submit" class="btn" />
                    </form>
                </aside>
            </div>
        </section>
    </main>
    <!-- footer -->
    <footer class="bg-black pading-1a">
        <section class="container color-white text-center text-shadow">
            <small>
                Copyright ©2022 All rights reserved | This template is made with 💚 by
                Naresh Rajput
            </small>
        </section>
    </footer>
</body>

</html>